
@{
    ViewBag.Title = "TheContests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="parallax-container overlay-1" data-parallax-img="/Content/asess/images/banner/exam1.jpg">
    <div class="parallax-content breadcrumbs-custom context-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9">
                    <h2 class="breadcrumbs-custom-title">The contets</h2>
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="@Url.Action("index")">Home</a></li>
                        <li class="active">The contets</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-lg bg-gray-1">
    <div class="container">
        <h2 class="text-center">welcome to the contest</h2>
        <div class="row">
            <div class="col-12">
                <div class="tabs-custom tabs-horizontal tabs-classic" id="tabs-1">
                    <ul class="nav nav-tabs nav-tabs-classic">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" href="#tabs-1-1"
                               data-toggle="tab">exam</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-1-1">
                            <div class="box-event-modern">
                                <div class="idea">
                                    <div class="event-item-modern">
                                        <h4 class="event-item-modern-title"><a href="#">Osso Buco</a></h4>
                                        <div class="event-item-modern-text">
                                            <p>
                                                Osso Buco is one of the Italian greats - slow cooked veal in a white wine tomato sauce.
                                                Meltingly tender, this is both hearty and luxurious.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="idea">
                                    <div class="event-item-modern">
                                        <h4 class="event-item-modern-title"><a href="#">Pappardelle Mimmo</a></h4>
                                        <div class="event-item-modern-text">
                                            <p>
                                                This delicious dish tops long, wide pasta with scallops, lobster, asparagus, butter, sage
                                                and truffle oil to cater every palate.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="idea">
                                    <div class="event-item-modern">
                                        <h4 class="event-item-modern-title"><a href="#">Osso Buco</a></h4>
                                        <div class="event-item-modern-text">
                                            <p>
                                                Osso Buco is one of the Italian greats - slow cooked veal in a white wine tomato sauce.
                                                Meltingly tender, this is both hearty and luxurious.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="idea">
                                    <div class="event-item-modern">
                                        <h4 class="event-item-modern-title"><a href="#">Pappardelle Mimmo</a></h4>
                                        <div class="event-item-modern-text">
                                            <p>
                                                This delicious dish tops long, wide pasta with scallops, lobster, asparagus, butter, sage
                                                and truffle oil to cater every palate.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

