  <!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->

    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item menu-open">
                <a href="~/Admin/start/ViewST" class="nav-link active">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        My Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Admin/users/Index" class="nav-link">

                    <p>
                        user management
                        <span class="right badge badge-danger">New</span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Admin/recipes/Index" class="nav-link">

                    <p>
                        Free Recipes

                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="~/Admin/Notifications/Index" class="nav-link">

                    <p>
                        Notification
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        Product Management
                        <i class="fas fa-angle-left right"></i>
                        <span class="badge badge-info right">6</span>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="pages/layout/top-nav.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>add admin</p>
                        </a>
                    </li>


                </ul>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>